{{> header}}

<div class="container">
    <h1 class="title">
        {{title}}
    </h1>
    <button class="create-account-button">
        <span class="create-account-text">Create Account</span>
    </button>
    <p class="log-in-link">
        I already have an account
    </p>
</div>

{{> footer}}