{{> header}}

    <h2 class="log-in-heading">
        Log In
    </h2>

    <p class="username">
        Username
    </p>

    <input class="username-field" placeholder="Username">

    <p class="password">
        Password
    </p>

    <input class="password-field" placeholder="Password">

    <img src=""> <!-- FIXME: Add "Show Password" Icon (Re: Eye Icon) -->

    <a class="forgot-password-link" href="">Forgot Password?</a> <!-- FIXME: Link to "Reset Password" page. -->

    <button>
            Log In
        </button>

{{> footer}}