{{> header}}

<div class="container">
    <h1 class="title">
        Log In
    </h1>
    <p class="username-label">
        Username
    </p>
    <p class="username-label">
        Password
    </p>
</div>

{{> footer}}