    <h1 class="sign-up-heading">
        Sign Up
    </h1>

    <p class="first-name">
        First Name:
        <span class="first-name-field">
            <button>
                Dummy Test
            </button> /* Replace with Field */
        </span>
    </p>