{{> header}}

    <h2 class="sign-up-heading">
        Sign Up
    </h2>

    <p class="first-name">
        First Name
    </p>

    <input class="first-name-field" placeholder="First Name">
    
    <p class="last-name">
        Last Name
    </p>

    <input class="last-name-field" placeholder="Last Name">

    <p class="email">
        E-Mail
    </p>

    <input class="email-field" placeholder="E-mail">

    <p class="username">
        Username
    </p>

    <input class="username-field" placeholder="Username">

    <p class="password">
        Password
    </p>

    <input class="password-field" placeholder="Password">

    <p class="confirm-password">
        Confirm Password
    </p>

    <input class="confirm-password-field" placeholder="Confirm Password">

    <button>
        Create Account
    </button>

{{> footer}}